/* 1. Import all Tailwind packages */
@import "tailwindcss";

/* 2. Generate a .font-quicksand utility via theme variables */
@theme {
    --breakpoint-xs: 30rem;

    --font-quicksand: "QuicksandVariable", ui-sans-serif, system-ui, sans-serif;

    /* --color-*: initial; */

    --color-primary: #27436c;
    --color-secondary: #897b77;
    --color-accent: #f0d278;
    --color-ndark: #27436c;
    --color-nlight: #f3f3f3;
    --color-ngrey: #d6d6d6;
    --color-nbehind: #395f99;
    --color-purewhite: #ffffff;
    --color-pureblack: #000000;
}

/* 3. Base layer: custom font + global styles */
@layer base {
    /* Self-hosted variable font */
    @font-face {
        font-family: "QuicksandVariable";
        font-style: normal;
        font-weight: 400 500 900;
        font-display: swap;
        src: url("./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
            format("truetype");
    }

    @font-face {
        font-family: "DancingVariable";
        font-style: normal;
        font-weight: 400 500 900;
        font-display: swap;
        src: url("./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf")
            format("truetype");
    }

    .theme-dark {
        --color-primary: #ffffff;
        --color-secondary: #9d9b9a;
        --color-accent: #f0d278;
        --color-ndark: #d6d6d6;
        --color-nlight: #09172c;
        --color-ngrey: #444444;
        --color-nbehind: #acb4b7;
        --color-purewhite: #27436c;
        --color-pureblack: #ffffff;
    }

    /* Optional: regular CSS variable if you don’t want a .font- utility */
    :root {
        --font-quicksand: "QuicksandVariable", ui-sans-serif, system-ui,
            sans-serif;
        --font-dancing: "DancingVariable", ui-sans-serif, system-ui, sans-serif;
    }

    /* Apply background and font to html/body */
    html,
    body {
        @apply bg-white dark:bg-gray-950;
        font-family: var(--font-quicksand);
    }

    /* OS-level dark mode color scheme */
    @media (prefers-color-scheme: dark) {
        html,
        body {
            color-scheme: dark;
        }
    }
}

@layer utilities {
    /* 2. Define your own class name */
    .my-transition {
        /* 3. Apply any number of Tailwind utilities */
        @apply transition-all duration-300 ease-in-out;
    }
}
